*.sublime*
vendor
joomla/vendor
joomla/vendor/*
joomla/configuration.php
joomla/tests/_output/*
*installation*
joomla/tmp/*
joomla/components/com_mymuse
joomla/administrator/components/com_mymuse
joomla/modules/mod_mymuse_latest
joomla/modules/mod_mymuse_minicart
joomla/plugins/mymuse*
joomla/modules/mod_mymuse_minicart
joomla/plugins/user/mymuse*
joomla/media/com_mymuse*



joomla/administrator/cache/*
joomla/administrator/language/en-GB/en-GB.plg_search_searchmymuse.ini
joomla/administrator/language/en-GB/en-GB.plg_search_searchmymuse.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_user_redirectonlogin.ini
joomla/administrator/language/en-GB/en-GB.plg_user_redirectonlogin.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_mymuse_*
joomla/language/en-GB/en-GB.com_mymuse.ini
joomla/language/en-GB/en-GB.mod_mymuse_latest.ini
joomla/language/en-GB/en-GB.mod_mymuse_latest.sys.ini
joomla/language/en-GB/en-GB.mod_mymuse_minicart.ini
joomla/language/en-GB/en-GB.mod_mymuse_minicart.sys.ini
joomla/plugins/search/searchmymuse/searchmymuse.php
joomla/plugins/search/searchmymuse/searchmymuse.scriptfile.php
joomla/plugins/search/searchmymuse/searchmymuse.xml
joomla/plugins/user/redirectonlogin/index.html
joomla/plugins/user/redirectonlogin/redirectonlogin.php
joomla/plugins/user/redirectonlogin/redirectonlogin.xml
joomla/tests/_data/mock_s3_config.php
