@CHARSET "UTF-8";

.clear
{
	clear: both;
}
/* those dickey print and email icons */
ul.actions
{
	list-style-type:none;
	margin:0;
	padding:0;
	height: 20px;
}

.actions li
{
float:left;	
}

.actions a
{
display:block;
width:20px;
}

/* blog layouts */
.category-desc img{
    padding: 10px;
    float: left;
}
.blog {
 margin: 1px 1px 1px 10px;

}
.item-image
{

}

.item-title
{
font-weight: bold;
}


/*blog sub-categories */
/*blog product items */
.cat-items .cols-2 .column-1,
.cat-items .cols-2 .column-2,
.cat-items .cols-3 .column-1,
.cat-items .cols-3 .column-2,
.cat-items .cols-3 .column-3,
.cat-items .cols-4 .column-1,
.cat-items .cols-4 .column-2,
.cat-items .cols-4 .column-3,
.cat-items .cols-4 .column-4
{
  float: left;
  clear: right;
  padding: 2px;
}

.cat-items .cols-2 .column-1 { width: 48%; }
.cat-items .cols-2 .column-2 { width: 48%; }

.cat-items .cols-3 .column-1 { width: 32%; }
.cat-items .cols-3 .column-2 { width: 32%; }
.cat-items .cols-3 .column-3 { width: 32%; }

.cat-items .cols-4 .column-1 { width: 24%; }
.cat-items .cols-4 .column-2 { width: 24%; }
.cat-items .cols-4 .column-3 { width: 24%; }
.cat-items .cols-4 .column-4 { width: 24%; }


div.cat-items div.items-row{
	clear: both;
}

/*blog sub-categories */
.cat-children ul {
	list-style-type:none;
}
.item-picture img {
	 height: 150px;
	 max-width: 150px;
}
.cat-children ul li {
	break: both;
}

/*blog product items */
/*Set this to size of your product images */
.cat-items {
	margin-top:20px;
}
.cat-items .list_image {
  height: 150px;
  max-width: 150px;
  
}
.cat-items .title {
  font-weight: bold;
  height: 20px;
}

/* blog links */
.items-more
{
	clear: both;
}
/* end blog */

/* list items */
.list-image {

}
.list-title{

}
.list-date{
	
}
.list-author{
	
}
.list-hits{
	
}
.list-price{
	
}
/* end list items */

/* category alphabet */
.item_image img{
	padding: 0 5px 10px 0;
}
.mymusetable {
	width: 100%;
}
.mymusetable td {
	padding: 5px;
}
.mymuse_msg {
	color:#dd0000;	
	
}

.mymuse_cart ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

/* cart */
table.mymuse_cart {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 1px solid #CCCCCC;
	border-spacing: 0px;
    width: 100%;
}

table.mymuse_cart_inner {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 1px solid #CCCCCC;
	border-spacing: 0px;    
	width: 100%;

}

td.mymuse_cart_top{ 
    
    background-color: #ccc;
	text-decoration: none; 
    font-weight: bold; 
	color: #FFFFFF; 
	font-family: Verdana, Arial, Helvetica; 
	border: 1px solid #999999; 
}


table.mymuse_cart td {
	border-bottom: 1px solid #e5e5e5;
	padding: 4px;

}
table.mymuse_cart tr.row0 {
	background-color: #ccc;
}
table.mymuse_cart tr.row1 {
	background-color: #fbfbfb;
}
table.mymuse_cart tr.row0:hover {
	background-color: #eeeeee;
}
table.mymuse_cart tr.row1:hover {
	background-color: #eeeeee;
}

#player{
	margin-left: 174px;
}


.image_pad{
	border: 0;
}

div.mymuse_button a {
	padding: 5px 5px 5px 5px;
	text-align: center;
	font-size: 14px; 
	font-weight: bold;
	border: 1px solid #CCCCCC;

}

span.discount {
	text-decoration: line-through;
	color: red;
}