@CHARSET "UTF-8";

.clear {
	clear: both;
}

/* those dickey print and email icons */
ul.actions {
	list-style-type:none;
	margin:0;
	padding:0;
	height: 20px;
}

.actions li {
	float:left;	
}

.actions a {
	display:block;
	width:20px;
}

.mymusetable {
	width: 100%;
}
.mymusetable td {
	padding: 5px;
}
.mymuse_msg {
	color:#dd0000;	
	
}

/*category desc */
div.category-desc > img {
	height: 150px;
	max-width: 150px;
	padding: 10px;
	float: left;
}

/* blog or list subcats */
div.cat-children li > span.subcat-image > a > img {
	height: 150px;
	max-width: 150px;
	padding: 10px;
}
div.cat-items ul {
	padding: 0 0 0 20px;
	margin: 5px 0 5px 0;
}

/* blog layouts */
.blog {
 margin: 1px 1px 1px 10px;

}
.item-title {
	font-weight: bold;
}


/*sub-categories columns*/
/*blog products columns */
.cat-items .cols-2 .column-1,
.cat-items .cols-2 .column-2,
.cat-items .cols-3 .column-1,
.cat-items .cols-3 .column-2,
.cat-items .cols-3 .column-3,
.cat-items .cols-4 .column-1,
.cat-items .cols-4 .column-2,
.cat-items .cols-4 .column-3,
.cat-items .cols-4 .column-4
{
  float: left;
  clear: right;
  padding: 2px;
}

.cat-items .cols-2 .column-1 { width: 48%; }
.cat-items .cols-2 .column-2 { width: 48%; }

.cat-items .cols-3 .column-1 { width: 32%; }
.cat-items .cols-3 .column-2 { width: 32%; }
.cat-items .cols-3 .column-3 { width: 32%; }

.cat-items .cols-4 .column-1 { width: 24%; }
.cat-items .cols-4 .column-2 { width: 24%; }
.cat-items .cols-4 .column-3 { width: 24%; }
.cat-items .cols-4 .column-4 { width: 24%; }

.cat-items .cols-1 .column-1 { width: 98%; }

div.cat-items div.items-row{
	clear: both;
}

/*blog sub-categories */
.cat-children ul {
	list-style-type:none;
}

.cat-children ul li {
	break: both;
}

/*blog product items */
.cat-items {
	margin-top:20px;
}

.cat-items .title {
  font-weight: bold;
  margin-bottom: 10px;
}

/* blog links */
.items-more
{
	clear: both;
}
/* end blog */

/* product pages */
.product-image{
	max-width: 100%;
	float: left;
    clear: right;
    padding-right: 10px;
}
.product-image img{
	
}
.product-intro{
	max-width: 100%;
}


/* cart */

.mymuse_cart ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
table.mymuse_cart, div.mymuse_cart {
	background-color: #FFFFFF;
	margin: 1px;
	padding: 0px;
	border: 1px solid #CCCCCC;
	border-spacing: 0px;
    width: 100%;
}

table.mymuse_cart tr:nth-of-type(even) { 
  background: #eee; 
}

table.mymuse_cart_inner {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 1px solid #CCCCCC;
	border-spacing: 0px;    
	width: 100%;

}

.mymuse_cart thead th{ 
    background-color: #ddd; 
    font-weight: bold; 
	border: 1px solid #999999; 
}


table.mymuse_cart td, table.mymuse_cart th, div.mymuse_cart {
	padding: 4px;
	vertical-align: middle;
	border: 1px solid #CCCCCC;
}

.mycheckbox{
	text-align: center;
}
.myquantity .inputbox {
	width:auto;
}


#player{
	margin-left: 174px;
}


.image_pad{
	border: 0;
}

div.mymuse_button a {
	padding: 5px 5px 5px 5px;
	text-align: center;
	font-size: 14px; 
	font-weight: bold;
	border: 1px solid #CCCCCC;

}

.mymuse-wrap {
	background-color: #eee;
	margin: 0px 0px 20px 0px;
	padding: 0px;
	border: 1px solid #ccc;
	border-spacing: 0px;
    width: 100%;
}
.mymuse-button-left{
	width: 47%;
}

.mymuse-button-right{
	width: 47%;
	text-align: right;
}

.mymuse-wrap .button{
	margin: 3px 3px 3px 3px;
}

span.discount {
	text-decoration: line-through;
	color: red;
}

.myselect, .myfilesize{
	margin-right: auto;
	margin-left: auto;
	text-align: center;

}
td.myprice, td.myquantity,td.mytotal, td.myoriginalsubtotal, td.myshoppergroupdiscount,
td.mynewsubtotal, td.mytaxname, td.mytax, td.mytotal, td.mydiscount, 
 td.mytax, td.myshipping, td.mysubtotal, td.mycoupon
{
	text-align: right;
} 
	
	
	
	

/* Only Phones */  
@media (max-width: 767px) { 
	

	.product-image{
		width:100%;
		clear: both;
	}
	td.myselect, td.myprice, td.myfilesize, td.mytotal,
	td.myoriginalsubtotal, td.myshoppergroupdiscount,
	td.mynewsubtotal, td.mytaxname, td.mytax, td.mytotal,
	td.mydiscount, td.myshipping, td.myshipmethod, td.mysummarytotal, 
	td.mysubtotal, td.mycoupon
	{
		text-align: left;
	}

	/* Force table to not be like tables anymore */
	.mymuse_cart table, .mymuse_cart thead, .mymuse_cart tbody, .mymuse_cart th, 
	.mymuse_cart td, .mymuse_cart tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.mymuse_cart thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.mymuse_cart tr { border: 1px solid #ccc; }
	
	.mymuse_cart td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #ccc; 
		position: relative;
		padding-left: 50%; 
	}
	
	
	td.myselect:before, td.mytitle:before, td.mytime:before,
	td.myfilesize:before, td.myprice:before, td.mypreviews:before,
	td.myquantity:before, td.mysku:before, td.mysubtotal:before, 
	td.myaction:before, td.myoriginalsubtotal:before, td.myshoppergroupdiscount:before,
	td.mynewsubtotal:before, td.myshipping:before, td.mytotal:before, 
	td.myupdatecart:before, td.mycoupon:before, td.myreservationfee:before, 
	td.myothercharges:before, td.mypaynow:before, td.mydiscount:before,
	td.myimage:before, td.myauthor:before, td.myhits:before, td.mysales:before,
	td.mydate-modified:before, td.mydate-created:before, td.mydate-published:before, 
	td.mydate-product_made_date:before, td.myartist:before, td.myorderid:before,
	td.mydate:before, td.myorderstatus:before, td.myfullname:before, td.myemail:before,
	td.myphone:before, td.myaddress:before, td.mycity:before, td.myzip:before,
	td.myregion:before, td.mycountry:before, td.mycompany:before , td.myfax:before, 
	td.myColour:before, td.myshipmethod:before, td.myordernumber:before,
	td.myorderdate:before, td.mypaid:before, td.mysummarytotal:before
	 { 
		white-space: nowrap;
		padding-right: 7%;
		margin-right: 7%;
		width: 23%;
		display: inline-block;
		border-right: 1px solid #ccc;

	}
	
	td.myselect, td.mytitle, td.mytime,
	td.myfilesize, td.myprice, td.mypreviews,
	td.myquantity, td.mysku, td.mysubtotal, 
	td.myaction, td.myoriginalsubtotal, td.myshoppergroupdiscount,
	td.mynewsubtotal, td.myshipping, td.mytotal, 
	td.myupdatecart, td.mycoupon, td.myreservationfee, 
	td.myothercharges, td.mypaynow, td.mydiscount,
	td.myimage, td.myauthor, td.myhits, td.mysales,
	td.mydate-modified, td.mydate-created, td.mydate-published, 
	td.mydate-product_made_date, td.myartist, td.myorderid,
	td.mydate, td.myorderstatus, td.myfullname, td.myemail,
	td.myphone, td.myaddress, td.mycity, td.myzip,
	td.myregion, td.mycountry, td.mycompany , td.myfax, 
	td.myColour, td.myshipmethod, td.myordernumber,
	td.myorderdate, td.mypaid
	{ 
		clear:both;
	}
	td.mytotal:before, td.mytotal, td.myoriginalsubtotal:before, td.myoriginalsubtotal,
	td.mydiscount:before, td.mydiscount, td.myshipping:before, td.myshipping {
		font-weight: bold;
	}
	
	td.mobile-hide{
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
}